# Python
__pycache__/
*.py[cod]

# Sphinx
docs/_build/
docs/build/
docs/**/.doctrees/
docs/**/html/

# Virtual Environments
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/